@import '../variables.css';

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 460px;
}

.feedItem {
}

.feedItemContent {
}

.feedItemContent .post {
  margin-top: 12px;
}

.post .postInfo {
  margin-bottom: 6px;
  padding-left: 6px;
}

.postInfo .postAuthor {
  font-size: 14px;
  font-weight: bold;
}

.postInfo .postDate {
  font-size: 10px;
  color: #666;
}

.post .postText {
  padding-left: 6px;
  padding-right: 6px;
}
