@import '../variables.css';

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.results {

}

.feedItem {
}

.feedItemContent {
}

.feedItemContent .post {
  margin-top: 12px;
}

.post .postInfo {
  margin-bottom: 6px;
  padding-left: 6px;
}

.postInfo .postAuthor {
  font-size: 14px;
  font-weight: bold;
}

.postInfo .postDate {
  font-size: 10px;
  color: #666;
}

.post .postText {
  padding-left: 6px;
  padding-right: 6px;
}

@media (min-width: 930px) {
  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedItem {
    margin-left: 4px;
    margin-right: 4px;
    width: 460px;
  }
}
