@import '../variables.css';

.container {
  max-width: 460px;
  margin: auto;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 2px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-top: 6px;
}
