@import '../variables.css';

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
}

.feedItem {
}

.feedItemContent {
}

.feedItemContent .post {
  margin-top: 12px;
}

.post .postInfo {
  margin-bottom: 6px;
  padding-left: 6px;
}

.postInfo .postAuthor {
  font-size: 14px;
  font-weight: bold;
}

.postInfo .postDate {
  font-size: 10px;
  color: #666;
}

.post .postText {
  padding-left: 6px;
  padding-right: 6px;
}

.terminalContainer {
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.terminal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.terminal .transport {
}

.transportId {
  color: #888;
}

.terminal .date {
  display: flex;
  justify-content: flex-end;
}

.terminal .time {

}

.terminalDestination {

}

.terminalOrigin {
  display: flex;
  width: 50%;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 39px;
}

.terminalFrom {

}

.triangle {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 14px;
  position: absolute;
  right: -14px;
  top: 5px;
}

.triangleRight {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.triangleLeft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.terminalEntry {
  white-space: normal;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.terminalEntry .terminalEntryRow {
}

.terminalEntry .terminalEntryTransport {
  margin-right: 10px;
  font-weight: 800;
  float: left;
  color: #000;
}

.terminalEntryTransportId {
  color: #888888;
  margin-bottom: 6px;
}

.terminalEntry .terminalEntryAddress {
  white-space: normal;
  margin-bottom: 6px;
  color: #000;
}
