@import '../../components/variables.css';

.contentScrollerContainer {
  position: relative;
}

.contentScrollerContainer .scrollArrow {
  position: absolute;
  top: 0;
  background-color: white;
  display: flex;
  height: 27px;
  align-items: center;
  cursor: pointer;
}

.contentScroller {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentScroller::-webkit-scrollbar {
  display: none;
}
