# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
database.sqlite
node_modules
ncp-debug.log
npm-debug.log
docker/postgres/deploy.sh
docker/web-app/deploy.sh
test/e2e/lib
test/e2e/screenshots
.env*
*.swp
log.txt
