@import '../variables.css';

.container {
  display: block;
  width: 100%;
  max-width: 720px;
  margin: auto;
}

.header {
  margin-top: 12px;
  display: block;
  margin-bottom: 24px;
}

.header .title {
  font-size: 24px;
  display: inline-flex;
  align-items: flex-start; 
  margin-right: 20px;
}

.header .title .area {
  font-size: 16px;
}

.header .title .arrow {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

.modeAndEdit {
  display: flex;
  align-items: center;
}

.modeAndEdit .mode {
}

.modeAndEdit .edit {
  margin-left: 12px;
}

.narrow {
  display: none;
}

.marrow .edit {
}

.ratingsHeader {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 425px) {
  .narrow {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding: 6px;
    border: 1px solid #e0e0e0;
    width: 100%;
  }
  .modeAndEdit .edit {
    display: none;
  }
}

.firstRow {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .firstRow {
    display: block;
  }
}

.transportAndDuration {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.transportAndDuration .transport {
  display: flex;
}

.transport .transportType {
  margin-right: 10px;
  border: 2px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

.transport .identifier {
  border-bottom: 1px solid black;
}

.time {
  margin-left: 6px;
  margin-right: 6px;
}

@media (max-width: 425px) {
  
  .time {
    margin-right: initial;
    margin-left: initial;
  }

}

.time .timeLabel {
  margin-right: 6px;
}

.time .timeDate {
  margin-right: 6px;
  white-space: nowrap;
}

.terminals {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.terminal {
  flex-grow: 1;
  border: 1px solid #dddddd;
}

.terminal.departure {
  margin-right: 8px;
}

.terminal.arrival {
  margin-left: 8px;
}

.terminal .terminalLabel {
  display: flex;
  background-color: #dddddd;
  padding: 2px;
}

.terminalLabel.departure {
  justify-content: flex-start;
}

.terminalLabel.arrival {
  justify-content: flex-end;
}

.terminal .terminalAddress {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  margin-top: 4px;
}

.terminal .terminalDescription {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
}

@media (max-width: 585px) {
  
  .terminals {
    display: block;
  }
  
  .terminal {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .terminalLabel.departure {
    justify-content: space-around;
  }

  .terminalLabel.arrival {
    justify-content: space-around;
  }

  .terminal.arrival {
    margin-left: initial;
    margin-right: initial;
  }

  .terminal.departure {
    margin-left: initial;
    margin-right: initial;
  }

}

.bottomSection {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.costAndDesc {
  width: 75%;
}

.costAndDuration {
  display: flex;
}

.cost {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.duration {
  margin-left: 8px;
  min-width: 60px;
  display: flex;
  align-items: center;
}

.duration i {
  margin-right: 6px;
}

.instanceMap {
  margin-left: 16px;
  width: 100%;
  max-width: 300px;
  height: 300px;
}

.ratingsAndVotes {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  margin-bottom: 12px;
}

@media (max-width: 720px) {
  
  .ratingsAndVotes {
  }

  .instanceMap {
    display: none;
  }

  .costAndDesc {
    width: 100%;
  }

}

@media (max-width: 570px) {
  .ratingsAndVotes {
    flex-direction: column-reverse;
  }
  .bottomScore {
    width: 100%;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ratings .rating {
  display: flex;
  justify-content: space-between;
}

.ratings .rating .ratingLabel {
}

.rating .ratingLabel span {
  display: none;
}

.rating .ratingValues {
  display: flex;
}

.rating .avgRatingValue {
  min-width: 30px;
}

.rating .ratingValue {
}

@media (max-width: 380px) {
  .ratings .rating {
    flex-direction: column-reverse;
  }
  .ratings .rating .ratingLabel {
    margin-right: initial;
    display: flex;
    justify-content: space-between;
  }
  .rating .ratingLabel span {
    display: inline;
    margin-left: 12px;
  }
  .rating .ratingValue {
    margin-right: initial;
    display: flex;
    justify-content: center;
  }
  .rating .avgRatingValue {
    display: none;
  }
}

.topScore {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomScore {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
}

.score {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.score .scoreLabel {
  display: flex;
  align-items: center;
}

.score .scoreValue {
  font-size: 26px;
  margin-left: 4px;
}

.vote {
  display: flex;
}

.vote .voteLabel {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.vote .voteButtons {
  display: flex;
  align-items: center;
}

.voteButton {
  font-size: 30px;
  cursor: pointer;
}

@media (min-width: 426px) {
  .topScore {
  }
}

.voteUp {
  color: #22aa22;
}

.voteDown {
  color: #aa2222;
}

.voteValue {
  margin-right: 8px;
  margin-left: 2px;
}

@keyframes pulsate1 {
  0%  { transform: scale(1); }
  10%  { transform: scale(1); }
  20%  { transform: scale(1); }
  30%  { transform: scale(1); }
  40%  { transform: scale(1.2); }
  50%  { transform: scale(1); }
  60%  { transform: scale(1); }
  70%  { transform: scale(1); }
  80%  { transform: scale(1); }
  90%  { transform: scale(1); }
  100%  { transform: scale(1); }
}

@keyframes pulsate2 {
  0%  { transform: scale(1); }
  10%  { transform: scale(1); }
  20%  { transform: scale(1); }
  30%  { transform: scale(1); }
  40%  { transform: scale(1); }
  50%  { transform: scale(1); }
  60%  { transform: scale(1.2); }
  70%  { transform: scale(1); }
  80%  { transform: scale(1); }
  90%  { transform: scale(1); }
  100%  { transform: scale(1); }
}

.pulsar1 {
  animation: pulsate1 3s infinite 3s;
}

.pulsar2 {
  animation: pulsate2 3s infinite 3s;
}

.hidden {
  display: none;
}
