@import '../variables.css';

.container {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 6px;
}

.header {
  margin-top: 6px;
}

.header .title {
  font-size: 24px;
  display: flex;
  align-items: flex-start; 
}

.header .title .area {
  font-size: 16px;
}

.header .title .arrow {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

.firstRow {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .firstRow {
    display: block;
  }
}

.transportAndDuration {
  display: flex;
}

.transportAndDuration .transport {
}

.transportAndDuration .duration {
  margin-left: 8px;
  min-width: 60px;
}

.times {
  margin-left: 12px;
  display: flex;
}

.times .time {
  margin-left: 6px;
  margin-right: 6px;
}

@media (max-width: 425px) {
  
  .times {
    margin-left: initial;
  }

  .times .time {
    margin-right: initial;
    margin-left: initial;
  }

}

.times .time .timeLabel {
  margin-right: 6px;
}

.times .time .timeDate {
  margin-right: 6px;
}

@media (max-width: 768px) {
  .times {
    display: block;
  }
}

.cost {
  margin-top: 16px;
}

.ratingsAndVotes {
  background-color: #f0f0f0;
  margin-top: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 570px) {
  .ratingsAndVotes {
    display: block;
  }
}

.ratings {
}

.ratings .rating {
  display: flex;
  justify-content: space-between;
}

.ratings .rating .ratingLabel {
  margin-right: 16px;
}

.rating .ratingValues {
  display: flex;
}

.rating .avgRatingValue {
  min-width: 30px;
}

.rating .ratingValue {
  margin-right: 16px;
}

@media (max-width: 380px) {
  .ratings .rating {
    flex-direction: column-reverse;
  }
  .ratings .rating .ratingLabel {
    margin-right: initial;
    display: flex;
    justify-content: center;
  }
  .rating .ratingValue {
    margin-right: initial;
    display: flex;
    justify-content: center;
  }
  .rating .avgRatingValue {
    display: none;
  }
}

.totalAverage {
}

.totalAverage .totalAverageLabel {
  text-align: center;
}

.totalAverage .totalAverageValue {
  font-size: 24px;
  text-align: center;
}

.vote {
}

.vote .voteLabel {
  text-align: center;
}

.vote .voteButtons {
  display: flex;
  justify-content: center;
}

.vote .voteButtons .voteButton {
  margin-left: 4px;
  margin-right: 4px;
}

