@import '../variables.css';

.container {
  display: inline-block;
  height: 48px;
  padding: 6px;
}

.header {
  margin-top: 6px;
}

.header .title {
  font-size: 24px;
  display: flex;
  align-items: flex-start; 
}

.header .title .area {
  font-size: 16px;
}

.header .title .arrow {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

.firstRow {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .firstRow {
    display: block;
  }
}

.transportAndDuration {
  display: flex;
}

.transportAndDuration .transport {
}

.transportAndDuration .duration {
  margin-left: 8px;
  min-width: 60px;
}

.times {
  margin-left: 12px;
  display: flex;
}

.times .time {
  margin-left: 6px;
  margin-right: 6px;
}

@media (max-width: 425px) {
  
  .times {
    margin-left: initial;
  }

  .times .time {
    margin-right: initial;
    margin-left: initial;
  }

}

.times .time .timeLabel {
  margin-right: 6px;
}

.times .time .timeDate {
  margin-right: 6px;
}

@media (max-width: 768px) {
  .times {
    display: block;
  }
}

.cost {
  margin-top: 16px;
}
