@import '../variables.css';

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
}

.feedItem {
}

.feedItemContent {
  margin: auto;
  padding-bottom: 12px;
}

.feedItemContent .post {
  margin-top: 12px;
}

.feedItemHeader {
  display: flex;
  justify-content: space-between;
}

.feedItemHeader .feedItemInfo {
  margin-bottom: 6px;
  padding-left: 6px;
}

.feedItemHeader .feedItemInfo .feedItemAuthor {
  font-size: 14px;
  font-weight: bold;
}

.feedItemHeader .feedItemInfo .feedItemDate {
  font-size: 10px;
  color: #666;
}

.feedItemHeader .feedItemControls {
  display: flex;
  margin-right: 8px;
}

.feedItemHeader .feedItemControls .feedItemPrev {
  margin-left: 4px;
  margin-right: 8px
}

.feedItemHeader .feedItemControls .feedItemNext {
  margin-left: 8px;
  margin-right: 0px
}

.feedItemHeader .feedItemControls .feedItemOptions {
  margin-left: 4px;
  margin-right: 4px;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
}

.contentHeader .contentHeaderLeft {
  display: flex;
}

.contentHeader .contentHeaderRight {
  padding-right: 6px;
  display: flex;
  align-items: center;
}

.contentHeader .contentHeaderLeft .userIcon {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 2px;
}

.contentHeader .contentHeaderLeft .userIcon img {
  width: 100%;
  height: 100%;
}

.contentHeader .contentHeaderLeft .contentInfo {

}

.contentInfo .contentUser {
  font-size: 14px;
}

.contentInfo .contentDate {
  font-size: 14px;
}


.posts {
  position: relative;
}

.posts .navLeft {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  top: calc(50% - 20px);
  display: flex;
  align-items: center;
}

.posts .navRight {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  top: calc(50% - 20px);
  right: 0px;
  display: flex;
  align-items: center;
}

.posts .navIndicatorContainer {
  position: absolute;
  top: 6px;
  width: 100%;
  display: flex;
}

.navIndicatorContainer .navIndicator {
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  border-radius: 6px;
  margin: auto;
  padding: 6px;
  background: rgba(255, 255, 255, 0.25);
}

.posts .navIndicator .indicatorDot {
  margin-right: 2px;
  margin-left: 2px;
  height: 8px;
  width: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.posts .navIndicator .selectedIndicatorDot {
  background-color: black;
}

.post .postText {
  padding-left: 6px;
  padding-right: 6px;
}

.terminalContainer {
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.terminal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.terminal .transport {
}

.transportId {
  color: #888;
}

.terminal .date {
  display: flex;
  justify-content: flex-end;
}

.terminal .time {

}

.terminalDestination {

}

.terminalOrigin {
  display: flex;
  width: 50%;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 39px;
}

.terminalFrom {

}

.triangle {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 14px;
  position: absolute;
  right: -14px;
  top: 5px;
}

.triangleRight {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.triangleLeft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.terminalEntry {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 12px;
}

.terminalEntry .terminalEntryRow1 {
  display: flex;
  justify-content: space-between;
}

.terminalEntry .terminalEntryTransport {
  font-weight: 800;
}

.terminalEntry .terminalEntryTime {
}

.terminalEntryTransportId {
  color: #888888;
  margin-top: 6px;
}

.terminalEntry .terminalEntryAddress {
  margin-top: 6px;
}


.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  margin-top: 8px;
  justify-content: flex-end;
}

.tags .tag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 3px;
  margin-right: 2px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.tags .removableTag {
  margin-right: 4px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
}

.tags .removableTag .removeTag {
  margin-left: 6px;
  margin-top: 4px;
  cursor: pointer;
}

.tags .tag a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.likes {
  display: flex;
  align-items: center;
}

.likes .heart {

}

.likes .count {
  font-size: 18px;
  margin-top: -4px;
  margin-left: 2px;
}
