@import '../../components/variables.css';

.root {

}

.container {
  max-width: 760px;
  margin: auto;
}

.functionBar {
  display: flex;
  position: relative;
  margin: auto;
}

.functionBar .container {
  width: 100%;
}

.searchFieldContainer {
  flex-grow: 1;
  padding-left: 8px;
}

.mapToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.linkItem {
  margin-top: 6px;
  margin-bottom: 36px;
  margin-left: 8px;
  margin-right: 8px;
}

.linkItem .from b, .linkItem .to b {
  font-weight: 600;
}

.linkItem .row1 {
  display: flex;
  margin-bottom: 4px;
}

.transport {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

.transportId {
  margin-left: 6px;
}

.description {
  font-size: 14px;
  color: #3a3a3a;
}

.linkItem .row2 {
}

.linkItem .row3 {
  margin-top: 6px;
}
