@import '../../components/variables.css';

.root {

}

.container {
  max-width: 760px;
  margin: auto;
}

.functionBar {
  display: flex;
  position: relative;
  margin: auto;
}

.functionBar .container {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.search .searchIcon {
  margin-top: 4px;
}

.search .searchField {
  margin-left: 6px;
  flex-grow: 1;
}

.searchFieldContainer {
  flex-grow: 1;
  padding-left: 8px;
}

.mapToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}

.linkItem {
  margin-top: 6px;
  margin-bottom: 36px;
}

.linkItem .from b, .linkItem .to b {
  font-weight: 600;
}

.transport {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

.transportId {
  margin-left: 6px;
}

.description {
  font-size: 14px;
  color: #3a3a3a;
}

.localityOverlay {
  background-color: white;
  border: 1px solid #666666;
  border-radius: 8px;
}

.localityOverlay .localityName {
  padding: 6px;
  color: white;
  background-color: #3b5999;
}

.localityOverlay .localityStats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4px;
  padding-left: 4px;
  border-top: 1px solid #e0e0e0;
}

.localityOverlay .localityStats span {
  font-size: 18px;
}

.mapControls {
  margin-bottom: 2px;
}

.mapControls .selector {
  display: flex;
}

.mapControls .selector .selectorElement {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.terminalsListing {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 8px;
}

.terminalsListing .linkedLocalities {

}

.terminalsListing .terminalTypeIcon {
  margin-top: 4px;
  margin-right: 4px;
}

.linkItem .localityHeader {
  background-color: #e0e0e0;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: underline;
}

.linkItem .localityHeader span {
  cursor: pointer;
}

.listLinkInfo {
  font-size: 15px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 12px;
  margin-top: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.mapLinkInfo {
  width: 300px;
}

.linkInfo {
}

.linkInfo .transportRow {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.linkInfo .transportRow .transportType {
  border: 1px solid black;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.linkInfo .transportRow .transportId {

}

.linkInfo .fromRow {
  margin-bottom: 4px;
}

.listLinkInfo b {
  font-weight: 600;
}

.linkInfo .toRow {
}

.dateTimeRow {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.dateTimeRow .dateTime {

}

.dateTimeRow .dateTime .dateTimeHeader {
}

.dateTimeRow .dateTime .dateTimeValue {
  display: flex;
}

.dateTimeValue .dateValue {

}

.dateTimeValue .timeValue {
  margin-left: 4px;
}

.linkDescription {

}

.linkCost {

}

.filters {
  padding-left: 4px;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 6px;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters .selectedFilters {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.filters .selectedFilters .selectedTransportType {
  margin-right: 4px;
}

.filters .transportOptions {
  display: inline-flex;
}

.filters .transportOptions .transportOption {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 4px;
  white-space: nowrap;
}

.filters .transportOptions .selectedTransportOption {
  background-color: #e0e0e0;
}

