@import '../../components/variables.css';

.root {

}

.container {
  margin-top: 6px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}


.mapContainer {
  height: 300px;
}

.functionBar {
  display: flex;
  position: relative;
  margin: auto;
}

.functionBar .container {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.search .searchIcon {
  margin-top: 4px;
}

.search .searchField {
  margin-left: 6px;
  flex-grow: 1;
}

.searchFieldContainer {
  flex-grow: 1;
  padding-left: 8px;
}

.routeSearch {
  display: flex;
  align-items: center;
  margin: auto;
  width: calc(100% - 40px);
  max-width: 250px;
  margin-top: -15px;
}

.routeSearch .routeSearchIcon {
  margin-top: 4px;
}

.routeSearch .routeSearchField {
  margin-left: 6px;
  flex-grow: 1;
}

.routeSearchFieldContainer {
  flex-grow: 1;
  padding-left: 8px;
}

.mapToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}

.linkItem {
  margin-top: 6px;
  margin-bottom: 36px;
}

.linkItem .from b, .linkItem .to b {
  font-weight: 600;
}

.transport {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

.transportId {
  margin-left: 6px;
}

.description {
  font-size: 14px;
  color: #3a3a3a;
}

.localityOverlay {
  background-color: white;
  border: 1px solid #666666;
  border-radius: 8px;
  max-width: 100px;
  cursor: pointer;
  z-index: 999;
}

.localityOverlay .localityName {
  padding: 4px;
  font-weight: bold;
  text-align: center;
}

.localityOverlay .localityStats {
  display: flex;
  align-items: center;
  padding-right: 6px;
  padding-left: 4px;
}

.localityOverlay .localityStats span {
  font-size: 18px;
  margin-right: 4px;
}

.mapControls {
  margin-bottom: 2px;
}

.mapControls .selector {
  display: flex;
}

.mapControls .selector .selectorElement {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.terminalsListing {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 8px;
}

.terminalsListing .linkedLocalities {

}

.terminalsListing .terminalTypeIcon {
  margin-top: 4px;
  margin-right: 4px;
}

.localityHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 24px;
}

.localityHeader .localityName {

}

.localityHeader .undo {
  margin-left: 6px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.linkItem .localityHeader span {
  cursor: pointer;
}

.linkItem .inboundOutbound {
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.inboundOutbound .inbound {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
}

.inboundOutbound .outbound {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
}

.inboundOutbound .directionIcon {
  height: 19px;
}

.inboundOutbound .directionText {

}

.localityConnections {
  display: flex;
}

.localityConnections .inboundColumn,  .localityConnections .outboundColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.localityConnections .inboundColumn {
}

.localityConnections .outboundColumn {
  text-align: right;
}

.inOutLocality {
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.listLinkInfo {
  font-size: 15px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 12px;
  margin-top: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.mapLinkInfo {
  width: 300px;
}

.linkInfo {
}

.linkInfo .transportRow {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.linkInfo .transportRow .transportType {
  border: 1px solid black;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.linkInfo .transportRow .transportId {

}

.linkInfo .fromRow {
  margin-bottom: 4px;
}

.listLinkInfo b {
  font-weight: 600;
}

.linkInfo .toRow {
}

.dateTimeRow {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.dateTimeRow .dateTime {

}

.dateTimeRow .dateTime .dateTimeHeader {
}

.dateTimeRow .dateTime .dateTimeValue {
  display: flex;
}

.dateTimeValue .dateValue {

}

.dateTimeValue .timeValue {
  margin-left: 4px;
}

.linkDescription {

}

.linkCost {

}

.filters {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 10px;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters .selectedFiltersWrapper {
  display: flex;
  justify-content: center;
}

.filters .selectedFilters {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 2px;
  max-width: calc(100% - 24px);
  display: inline-flex;
  justify-content: space-between;
  cursor: pointer;
}

.filters .selectedFilters .icon {
  margin-right: 4px;
}

.filters .selectedFilters .values {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filters .selectedFilters .selectedTransportType {
  margin-right: 4px;
  white-space: nowrap;
}

.filters .transportOptions {
  display: inline-flex;
  margin-left: 4px;
}

.filters .transportOptions .transportOption {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 4px;
  white-space: nowrap;
  cursor: pointer;
}

.filters .transportOptions .selectedTransportOption {
  background-color: #e0e0e0;
}

.labelMap {
  width: 100%;
  margin-top: 12px;
}

.labelMap .divider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.labelMap .divider .ruler {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  position: absolute;
}

.labelMap .divider .mainLocality {
  font-size: 26px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #ffffff;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}

.labelMap .arrivals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #f0f0f0;
  padding-bottom: 4px;
}

.labelMap .departures {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-top: 6px;
}

.labelMap .departures .info {
  margin: 5px;
  align-self: flex-end;
}

.labelMap .arrivals .info {
  margin: 5px;
  align-self: flex-start;
}

.labelMap .info .stats {
  display: flex;
  justify-content: space-evenly;
}

.stats .statsNumber {
  font-size: 26px;
}

.stats .statsIcon {
  margin-top: 2px;
}

.labelMap .info .statsLabel {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.labelMap .directionLabel {
  position: absolute;
  color: #a0a0a0;
  font-size: 14px;
  top: -6px;
}

.labelMap .directionLabel .icon {
}


.labelMap .directionLabel .label {
  font-size: 14px;
}

.connections {
  flex-grow: 1;
}

.connectionLocalities {
  display: flex;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.labelMap .arrivals .connections {
  padding-top: 8px;
}

.connections .connection {
  margin-left: 2px;
  margin-right: 2px;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 16px;
  position: relative;
}

.connections .connection .locality {

}

.otherPlaces {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
}

.linkPopup {
  max-width: 320px;
}

.linkPopup .route {
}

.linkPopup .route .routePath {
}

.linkPopup .route .routePath .arrows {
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
}

.arrows .arrow {
  display: flex;
}

.arrows .arrow .label {
  font-size: 16px;
}

.arrows .arrow .forward {
  margin-top: -2px;
}

.arrows .arrow .back {
  margin-top: -2px;
}

.arrows .arrow .both {
  margin-top: -2px;
}

.linkPopup .route .routePath .terminalStats {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.linkPopup .route .routePath .terminalStats .routeStats {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.linkPopup .route .routePath .terminalStats .localityStats {
  display: flex;
}

.linkPopup .route .routePath .terminalStats .directionLabel {
  font-size: 12px;
  margin-top: -2px;
  margin-right: 2px;
}

.linkPopup .route .routePath .terminalStats .directionLocality {
  font-size: 16px;
}

.linkPopup .route .routePath .terminalIcon {
  display: flex;
  align-items: center;
}

.linkPopup .route .routePath .locality {
  padding: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  min-width: 260px;
}

.linkPopup .route .routePath .routeTerminal {
  display: flex;
}

.linkPopup .route .routePath .from {
  display: flex;
  justify-content: flex-start;
}

.linkPopup .route .routePath .to {
  display: flex;
  justify-content: flex-end;
}

.linkPopup .route .routePath .from .routeStats {
  margin-bottom: 4px;
}

.linkPopup .route .routePath .to .routeStats {
  margin-top: 2px;
}

.linkPopup .route .routePath .from .terminalStats {
  flex-direction: row-reverse;
}


.linkPopup .route .routePath .to .terminalStats {
  flex-direction: row-reverse;
}

.taggedListHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
  align-items: flex-end;
}

.taggedListHeader .tag {
  font-size: 22px;
}

.taggedListHeader .undo {
  margin-left: 6px;
  display: flex;
  align-items: center;
  height: 26px;
}

.linksListHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.linksListHeader .image {
  height: 34px;
  display: flex;
  align-items: center;
}

.linksListHeader .label {
  font-size: 26px;
}

.linksListHeader .locality {
  font-size: 22px;
  margin-right: 4px;
  text-align: right;
}

.linksListHeader .undo {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.linksListHeader .linkedLocality {
  font-size: 18px;
}

.linksList {
}

.linksList .listLink {

}

.linksList .selectedListLink {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.linksList .selectedListLink:last-child {
  border-bottom: none;
}

.listLinkHeader {
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.listLinkHeader .linkHeaderTopRow {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  justify-content: space-between;
}

.listLinkHeader .linkTypeAndTransport {
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  height: 23px;
  margin-bottom: 3px;
}

.listLinkHeader .linkTypeAndTransport .linkType {
  margin-top: 6px;
  margin-right: 2px;
}

.listLinkHeader .linkTypeAndTransport .linkTransport {

}

.listLinkHeader .linkId {
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffffff;
}

.listLinkHeader .linkInfo {
  display: flex;
  justify-content: flex-end;
}

.listLinkHeader .linkHeaderBottomRow {
  display: flex;
  padding-bottom: 6px;
}

.listLinkHeader .dateTime {
  display: flex;
  font-size: 14px;
}

.listLinkHeader .dateTime .date {
  margin-left: 2px;
  margin-right: 2px;
}

.listLinkHeader .dateTime .time {
  margin-left: 2px;
  margin-right: 2px;
  font-weight: bold;
}

.routesList {

}

.routesList .route {
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.routesList .route:first-child {
  border-top: 1px solid #e0e0e0;
}

.routesList .selectedRoute {
  border: 1px solid #e0e0e0;
}

.routesList .routeHeader {
  cursor: pointer;
  padding-left: 4px;
  text-align: center;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.routesList .selectedRoute .routeHeader {
  background-color: #e0e0e0;
}

.routesList .route .routeHeader {
}

.linkAddress {

}

.linksView {

}

.linksView .map {
  width: 100%;
  position: relative;
}

.linksView .list {
  width: 100%;
  position: relative;
}

@media (min-width: 620px) {


  .mapContainer {
    height: 400px;
  }

  .linksView {
    display: flex;
    position: relative;
    width: 100%;
  }

  .linksView .map {
    position: relative;
    width: 100%;
  }

  .linksView .list {
    position: relative;
    flex-grow: 1;
    max-width: 340px;
    margin-left: 6px;
  }

  .listLink .linkIdInfo {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .listLink .linkIdInfo .linkId {
    margin-top: 2px;
    margin-bottom: 0px;
    max-width: initial;
  }

  .listLinkHeader {
    padding-left: 0px;
    padding-right: 0px;
  }

  .listLinkHeader .linkTypeAndTransport {
    padding-left: 2px;
  }


  .routesList .routeHeader {
  }

}

.terminalTags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
  margin-top: 12px;
}

.relevantTags {
  margin-bottom: 6px;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}


.terminalTags .terminalTag, .relevantTags .relevantTag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 6px;
  margin-bottom: 4px;
  align-items: center;
  cursor: pointer;
}

.terminalTags .terminalTrip, .relevantTags .relevantTrip {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 6px;
  margin-bottom: 4px;
  align-items: center;
  cursor: pointer;
}

.relevantTag, .relevantTrip {
  display: inline;
  padding-top: 1px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.relevantTrip {
  font-size: 14px;
}

.terminalTag, .terminalTrip {
  display: flex;
}

.terminalTag a, .relevantTag a, .relevantTrip a {
  color: black;
  text-decoration: none;
}

.localityLinks {
  display: flex;
  margin-top: 12px;
  margin-left: 6px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.localityLinks .localityTag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 6px;
  margin-bottom: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.localityLinks .localityTag a {
  color: black;
  text-decoration: none;
}

.localityLinks .localityTrip {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 6px;
  margin-bottom: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.localityLinks .localityTrip a {
  color: black;
  text-decoration: none;
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  width: calc(100% - 8px);
  margin-bottom: 8px;
  margin-top: 2px;
}

.filtersContainer .filtersDisplay {
  width: calc(100% - 70px);
  position: relative;
  display: flex;
}

.filtersContainer .filtersReset {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-right: 4px;
}

.userTagFilter {
  display: flex;
}

.userTagFilter .userImage, .userFilter .userImage {
  width: 40px;
}

.userTagFilter .userImage img, .userFilter .userImage img {
  width: 100%;
  border-radius: 20px;
}

.userTagFilter .filterInfo {
  margin-left: 4px;
}

.userTagFilter .filterInfo .userName {
  font-size: 14px;
}

.userTagFilter .filterInfo .tags {
  font-size: 13px;
  background-color: #e0e0e0;
  border-radius: 4px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.noResults {
  padding: 10px;
  text-align: center;
}

.localitySearchResults {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.localitySearchResults .localitySearchResult {
  margin-left: 4px;
}
