@import '../../components/variables.css';

.root {
  
}

.container {
  max-width: 760px;
  margin: auto;  
}

.sectionLinks {
  display: flex;
}

.sectionLinks .sectionLink {
  margin: 4px;
}

.sectionContent {
}
