@import '../../components/variables.css';

.root {
}

.container {
}

.profile {
}

@media(min-width: 400px) {
  .profile {
    display: flex;
  }
  .profile .email {
    width: 50%;
    margin-right: 4px;
  }
  .profile .username {
    width: 50%;
    margin-left: 4px;
  }
}

.profile .email {
}

.profile .username {
}

.password {
  margin-top: 36px;
}

.save {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save .button {
  margin-left: 12px;
}
