@import '../../components/variables.css';

.root {
}

.container {
}

.emailPassword {
  width: 100%;
}


.emailPassword .password {
  margin-top: 36px;
}

@media(min-width: 400px) {
  .emailPassword {
    display: flex;
    align-items: flex-end;
  }
  .emailPassword .email {
    width: 50%;
    margin-right: 4px;
  }
  .emailPassword .password {
    width: 50%;
    margin-left: 4px;
  }
}

.save {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save .button {
  margin-left: 12px;
}
