.root {
  max-width: 720px;
  margin: auto;
}

.container {
  width: calc(100% - 16px);
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.settings {
  width: 100%;
  width: 100%;
  margin-top: 28px;
  display: flex;
  align-items: flex-end;
}

.displayName {
  flex-grow: 1;
}

.avatar {
  margin-top: 16px;
  margin-left: 8px;
  margin-bottom: 12px;
}

.avatar .avatarImage {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 6px;
}

.avatar .avatarImage img {
  width: 100%;
}

.avatar .editAvatar .editAvatarButton {
  margin-top: -83px;
  margin-left: -34px;
  position: absolute;
}


.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput + label {
  cursor: pointer;
}

.submit {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

@media(min-width: 400px) {

  .container {
  }

  .settings {
    display: flex;
    align-items: flex-start;
  }

  .displayName {
    width: 50%;
    margin-right: 4px;
  }
  .avatar {
    width: 50%;
    margin-left: 4px;
    margin-top: initial;
    display: flex;
    justify-content: center;
  }
}

