.root {
}

.content {
  display: flex;
  align-items: center;
}

.add {
  margin-right: 8px;
}

.add .addIcon {
  width: 38px;
  height: 38px;
  border: 1px solid #999999;
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add .addIcon a {
  display: flex;
  text-decoration: none;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: rgba(0, 0, 0, 0.6);
}

.link:hover {
  color: rgba(0, 0, 0, 1);
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  color: rgba(0, 0, 0, 0.3);
}

.optional {
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.avatar img {
  width: 40px;
  position: absolute;
}

@media (max-width: 425px) {
  .optional {
    display: none;
  }
}
