@import '../../components/variables.css';

.root {

}

.container {
  max-width: 760px;
  margin: auto;
}

.functionBar {
  display: flex;
  position: relative;
  margin: auto;
}

.functionBar .container {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.search .searchIcon {
  margin-top: 4px;
}

.search .searchField {
  margin-left: 6px;
  padding-right: 12px;
  flex-grow: 1;
}

.searchFieldContainer {
  flex-grow: 1;
  padding-left: 8px;
}

.sectionLinks {
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sectionLinks .sectionLink {
  margin-right: 12px;
}

.sectionLinks .selected a {
  color: black;
  text-decoration: none;
  cursor: default;
}

.sectionContent {
}

.logOut {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logOut .logOutLink {

}

.discoveryItem {
  margin-top: 6px;
  margin-bottom: 36px;
}

.discoveryItem .discoveryHeader {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discoveryHeader .discoveryGroupName {
  font-size: 28px;
  font-weight: lighter;
}

.discoveryHeader .discoveryGroupName a {
  color: black;
}

.discoveryHeader .discoveryHeaderControls {

}

.discoveryHeader .discoveryHeaderControls .checkInCount {
  display: flex;
  align-items: center;
}

.checkInCount .checkInCountIcon {
  display: contents;
}

.checkInCount .checkInCountValue {

}

.mainPost {

}

.mainPost .mainPostHeader {
}

.mainPostHeader .mainPostCheckIn {
  background-color: #e0e0e0;
  padding-top: 3px;
  padding-left: 4px;
  padding-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainPostHeader .mainPostInfo {

}

.mainPostHeader .mainPostInfo .mainPostInfoLeft {
  margin-bottom: 6px;
  padding-left: 6px;
}

.mainPostHeader .mainPostInfo .mainPostInfoLeft .feedItemAuthor {
  font-size: 14px;
  font-weight: bold;
}

.mainPostHeader .mainPostInfo .mainPostInfoLeft .feedItemDate {
  font-size: 10px;
  color: #666;
}

.mainPostHeader .mainPostInfo .mainPostInfoRight {
  margin-right: 8px;
}

.mainPostHeader .mainPostInfo .mainPostInfoRight .feedItemControls {
  display: flex;
}

.secondaryPosts {
  padding-top: 4px;
  padding-left: 1px;
  padding-right: 6px;
  display: flex;
}


.secondaryPosts .secondaryPost {
  width: 100%;
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondaryPosts .secondaryPost .discoveryStats {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.discoveryStats .discoveryStatItem {
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.discoveryStats .discoveryStatItem .discoveryStatIconAndNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
}

.discoveryStats .discoveryStatItem .discoveryStatIconAndNumber .discoveryStatIcon {
  margin-right: 2px;
  height: 24px;
}

.discoveryStats .discoveryStatItem .discoveryStatIconAndNumber .discoveryStatNumber {
  margin-top: -2px;
  font-size: 19px;
}

.discoveryStats .discoveryStatItem .discoveryStatIconAndNumber .discoveryStatNumber a {
  color: black;
}

.discoveryStats .discoveryStatItem .discoveryStatText {
  margin-top: -2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  justify-content: center;
  display: none;
}

.secondaryPosts .lastFrame {
}

.terminalSummary {
  margin-top: 6px;
  margin-bottom: -4px;
}

.terminalSummary .terminalsByType {
  display: flex;
  align-items: center;
}

.terminalSummary .terminalTypeSummary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.terminalSummary .terminalTypeSummaryArrivals {
  flex-direction: row-reverse;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.terminalSummary .terminalTypeSummaryDepartures {
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;
}

.terminalSummary .terminalTypeSummary .terminalTypeValue {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  padding: 5px;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.terminalSummary .terminalTypeSummary .terminalTypeIcon {
  display: flex;
  padding: 6px;
}

.terminalSummary .destinationList {
  margin-left: 6px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.terminalSummary .terminalsByType .summaryLabel {

}

.terminalSummary .terminalsByType .summaryValue {

}

.postSummary {
}

.postSummary .left {
}

.postSummary .right {
  margin-top: 6px;
}

.contentScrollerContainer {
  position: relative;
}

.contentScrollerContainer .scrollArrow {
  position: absolute;
  top: 0;
  background-color: white;
  display: flex;
  height: 27px;
  align-items: center;
  cursor: pointer;
}

.contentScroller {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentScroller::-webkit-scrollbar {
  display: none;
}

.scrollingContent {
  margin-bottom: 6px;
  margin-top: 4px;
  padding-left: 8px;
  display: inline-block;
  white-space: nowrap;
}

.discoveryLinks, .discoveryLocalities {
  display: flex;
  justify-content: flex-end;
  margin-top: -6px;
  margin-bottom: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.scrollingContent .discoveryTag {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  font-size: 17px;
  display: inline;
}

.scrollingContent .discoveryTag a {
  color: black;
  text-decoration: none;
}

.scrollingContent .discoveryTrip {
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #808080;
  display: inline;
}

.scrollingContent .discoveryTrip a {
  color: black;
  text-decoration: none;
}

.scrollingContent .label {
  height: 22px;
  margin-right: 6px;
  margin-left: 0px;
  display: inline-block;
  vertical-align: bottom;
}

.discoveryLocalities .label {
  height: 22px;
  margin-right: 3px;
}

.discoveryLocalities .discoveryLocality {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 3px;
  margin-left: 2px;
}

@media (min-width: 620px) {

  .secondaryPosts {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    display: flex;
    max-height: 800px;
  }

  .secondaryPosts .lastFrame {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .secondaryPosts .secondaryPost {
    width: 100%;
    max-height: 200px;
    align-items: center;
    margin-bottom: 1px;
    overflow: hidden;
  }

  .postSummary {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .postSummary .left {
    width: 460px;
  }

  .postSummary .right {
    flex: 1;
    margin-top: initial;
  }

  .discoveryStats .discoveryStatItem .discoveryStatText {
    display: flex;
  }

}

