@import '../../components/variables.css';

.root {
  margin-left: auto;
  margin-top: 38px;
  margin-right: auto;
  max-width: 420px;
}

.resetPasswordText {
  width: 100%;
  text-align: center;
}

.resetPasswordEmail {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.resetPasswordInput {
  margin-left: 8px;
  margin-right: 16px;
  display: flex;
}

.requestResetInput {
  margin-left: 8px;
  margin-right: 28px;
  display: flex;
}

.resetPasswordTextField, .emailInput {
  flex-grow: 1;
}

.resetPasswordInput .resetButton {
  margin-left: 8px;
  width: 80px;
  margin-top: 28px;
}

.requestResetInput .requestButton {
  margin-left: 8px;
  width: 80px;
  margin-top: 28px;
}
