@import '../variables.css';

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
}

.header {
  margin-top: 16px;
  margin-bottom: 6px;
}

.header .title {
  font-size: 24px;
}

.results {
  margin-top: 24px;
}

.noResults {
  margin-top: 24px;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linkTitle {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}

.linkTitle .area {
  font-size: 14px;
}

.linkTitle .arrow { 
  margin-left: 6px;
  margin-right: 6px;
}

.linkTitle:hover .city {
  color: rgb(0, 188, 212);
}

.linkStats {
  margin-left: 12px;
}
