@import '../variables.css';

.container {
  display: inline-block;
}

.header {
  margin-top: 6px;
}

.header .title {
  font-size: 24px;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link :hover {
  color: blue;
}

.link .arrow { 
  margin-left: 6px;
  margin-right: 6px;
}
