@import '../variables.css';

.container {
  display: inline-block;
}

.header {
  margin-top: 16px;
  margin-bottom: 6px;
}

.header .title {
  font-size: 24px;
}

.results {
  margin-top: 24px;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linkTitle {
  display: flex;
  align-items: center;
}

.linkTitle .arrow { 
  margin-left: 6px;
  margin-right: 6px;
}

.linkTitle:hover > span {
  color: rgb(0, 188, 212);
}

.linkStats {
  margin-left: 12px;
}
