@import '../variables.css';

:root {
  --brand-color: #000;
}

.root {
  background: #fff;
  color: #000;
}

.container {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.functionBar {

}

@media (max-width: 425px) {

  .container {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 9px;
  }

  .functionBar {
  }

}

.logo {
  display: flex;
  align-items: center;
  margin-top: -4px;
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.brand span {
  margin-top: 4px;
}

.brandTxt {
  margin-left: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}

.languages {
  margin-left: 20px;
}

@media (max-width: 425px) {
  .languages {
    display: none;
  }
}
