@import '../../components/variables.css';

.container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 8px);
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.filtersContainer .filtersDisplay {
  width: calc(100% - 70px);
  position: relative;
  display: flex;
}

.filtersContainer .filtersReset {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-right: 4px;
}

.userTagFilter {
  display: flex;
}

.userTagFilter .userImage, .userFilter .userImage {
  width: 40px;
}

.userTagFilter .userImage img, .userFilter .userImage img {
  width: 100%;
  border-radius: 20px;
}

.userTagFilter .filterInfo {
  margin-left: 4px;
}

.userTagFilter .filterInfo .userName {
  font-size: 14px;
}

.userTagFilter .filterInfo .tags {
  font-size: 13px;
  background-color: #e0e0e0;
  border-radius: 4px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.localityFilter {
  display: flex;
  align-items: center;
}

.localityFilter .localityImage {
  height: 31px;
  margin-right: 4px;
}

.localityFilter .localityName {
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userFilter {
  display: flex;
  width: 100%;
}

.userFilter .userInfo {
  margin-left: 8px;
  width: calc(100% - 48px);
}

.userFilter .userInfo .userInfoTitle {
  font-size: 13px;
  color: #a0a0a0;
}

.userFilter .userInfo .userName {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.tagFilter {
  display: flex;
  align-items: center;
}

.tagFilter .tagName {
  font-size: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.filterLabel {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.filterLabel .route {
  font-size: 22px;
}

.taggedListHeader .undo {
  margin-left: 6px;
  display: flex;
  align-items: center;
  height: 26px;
}

.linksListHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.linksListHeader .image {
  height: 34px;
  display: flex;
  align-items: center;
}

.linksListHeader .label {
  font-size: 26px;
}

.linksListHeader .locality {
  font-size: 22px;
  margin-right: 4px;
  text-align: right;
}

.linksListHeader .undo {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.linksListHeader .linkedLocality {
  font-size: 18px;
}
