@import '../variables.css';

.container {
}

.header {
  margin-top: 16px;
  margin-bottom: 6px;
}

.header .title {
  font-size: 24px;
  display: flex;
  align-items: flex-start; 
}

.header .title .area {
  font-size: 16px;
}

.header .title .arrow {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

.instances {
  margin-top: 24px;
  width: 100%;
  max-width: 640px;
}

.instance {
}

.mode {
  margin-right: 12px;
}

.transport {
}

.instanceHeader {
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  color: rgb(0, 188, 212);
}

