@import '../../components/variables.css';

.root {  
}

.container {
}

.save {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save .button {
  margin-left: 12px;
}

.terminalPageOne {

}

.terminalPageOne .pageOneContainer {

}

.inputRow1 {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

.transport {
  display: flex;
  margin-right: 8px;
  width: 300px;
}

.dateTime {
  display: flex;
}

.transportId {
  display: flex;
  flex-grow: 1;
}

.inputRow2 {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -10px;
}

.date {
  display: flex;
  width: 85px;
  margin-right: 8px;
}

.time {
  display: flex;
  width: 42px;
}

.inputRow3 {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -10px;
}

.amount {
  width: 100px;
  margin-right: 8px;
}

.currency {
  width: 80px;
}
