@import '../../components/variables.css';

.errors {
  margin-bottom: 16px;
}

.defaultError {
  padding: 6px;
  text-align: center;
}

.defaultError .okButton {
  margin-top: 10px;
  margin-bottom: 4px;
}

.prelaunchError {
  background-color: goldenrod;
  padding: 6px;
  color: white;
  text-align: center;
}

.prelaunchError .okButton {
  margin-top: 10px;
  margin-bottom: 4px;
}
