@import '../variables.css';

.container {
  position: relative;
  display: flex;
  margin-bottom: 12px;
  align-items: flex-end;
  flex-grow: 1;
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}

.addressInput {
  display: flex;
  flex-grow: 1;
  margin-right: 6px;
}

.mapButton {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}

.map {
  width: 100%;
  max-width: 500px;
  height: 300px;
}
