@import '../variables.css';

.container {
  display: inline-block;
  height: 48px;
  padding: 6px;
}

.header {
  margin-top: 16px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .title {
  font-size: 24px;
}

.endpoints {
  display: flex;
  align-items: baseline;
}

.endpoints .arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.times {
}

.times .dateTime {
}

.times .dateTime .date {
}

.times .dateTime .time {
}

.time-picker {
  background-color: red;
}

.terminals {
  margin-top: 16px;
  display: flex;
}

.terminals .terminalHeader {
  text-align: center;
}

.terminals .departure, .arrival {
}

.terminals .departure {
  margin-right: 42px;
}

.terminals .arrival {
}

.cost {
  margin-top: 16px;
}

.cost .costHeader {
  text-align: center;
}

.cost .price {
  display: flex;
  justify-content: center;
}

.cost .price .amount {
  margin-right: 16px;
}

.cost .price .currency {
}

.description {
  margin-bottom: 24px;
}

.save {
  display: flex;
  justify-content: flex-end;
}
