@import '../variables.css';

.container {
  display: inline-block;
  height: 48px;
  padding: 6px;
}

.header {
  margin-top: 6px;
  margin-bottom: 6px;
}

.header .title {
  font-size: 24px;
}

.endpoints {
  display: flex;
  align-items: baseline;
}

.endpoints .arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.save {
  margin-top: 12px;
}
