@import '../variables.css';

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header .title {
  font-size: 24px;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 425px) {
  .header {
    align-items: flex-start;
  }
  .header .title {
    flex-direction: column;
  }
}

.title .titleText {
  margin-right: 24px;
  margin-bottom: 7px;
}

.title .mode {
  margin-bottom: -8px;
}

.endpoints {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address {
  display: flex;
}

@media (max-width: 425px) {
  .address .full, .endpoints .full {
    display: none;
  }
}

@media (min-width: 426px) {
  .address .compact, .endpoints .compact {
    display: none;
  }
}

.endpoints .arrow {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 425px) {
  .endpoints .arrow {
    display: none;
  }
}

.transportAndId {
  display: flex;
  justify-content: space-between;
}

.transport {
  display: flex;
  flex-grow: 1;
}

.identifier {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 500px) {
  
  .transportAndId {
    flex-direction: column;
  }

  .transport {
    justify-content: center;
  }
  
  .identifier {
    justify-content: center;
  }

}

.additionalInfo {
  margin-top: 42px;
}

.additionalInfo .additionalHeader {
  color: #e0e0e0;
  text-align: center;
}

.times {
}

.times .dateTime {
}

.times .dateTime .date {
}

.times .dateTime .time {
}

.time-picker {
  background-color: red;
}

.terminals {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .terminals {
    justify-content: center;
  }
}

.terminals .terminalHeader {
  text-align: center;
  margin-bottom: 16px;
}

.terminals .departure, .arrival {
}

.terminals .departure {
  padding-right: 16px;
  padding-top: 8px;
}

@media (max-width: 768px) {
  .terminals .departure {
  }
}

.terminals .arrival {
  background-color: #f0f0f0;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 570px) {
  .terminals .arrival {
    margin-top: 16px;
    padding-left: initial;
    background-color: initial;
  }
}

.terminals .arrival {
}

.cost {
  margin-top: 42px;
  width: 100%;
}

.cost .costHeader {
  text-align: center;
}

.cost .price {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.cost .price .amount {
  width: 65px;
  margin-right: 16px;
}

.cost .price .currency {
  width: 200px;
}

.description {
  margin-top: 12px;
  margin-bottom: 24px;
}

.ratings {
  margin-bottom: 24px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating .ratingLabel {
  text-align: right;
  margin-top: -6px;
  padding-right: 12px;
  width: 50%;
}

.rating .ratingValuel {
  text-align: right;
  margin-top: -6px;
  padding-right: 12px;
  width: 50%;
}

@media (max-width: 425px) {
  
  .rating {
    display: block;
    margin-bottom: 16px;
  }
  
  .rating .ratingLabel {
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
  }
  
  .rating .ratingValue {
    width: 100%;
    text-align: center;
  }

}

.save {
  display: flex;
  justify-content: flex-end;
}
