@import '../variables.css';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 720px;
  margin: auto;
}

.comments {

}

.comments .comment {
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.comment .commentContent {
  margin-block-start: initial;
  margin-block-end: initial;
}

.commentContent .commentAuthor {
  margin-right: 4px;
  padding-left: 5px;
  border-radius: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  background-color: #f0f0f0;
}

.commentInput {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.commentInput .icon {
  padding-right: 4px;
  height: 30px;
}

.commentInput .input {
  height: 41px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.comments .otherComments {
  display: flex;
  justify-content: flex-end;
  padding-left: 4px;
  padding-right: 4px;
}
