@import '../../components/variables.css';

.root {
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 12px;
}

.container {
  max-width: 460px;
  margin: auto;
}

.placeSelector {
  margin-bottom: 6px;
  position: relative;
}

.placeSelector .positionContainer {
  display: flex;
  align-items: center;
}

.placeSelector .positionContainer .positionButton {
  display: flex;
  margin-right: 8px;
  cursor: pointer;
}

.placeSelector .positionContainer .positionSelector {
  display: flex;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  flex-direction: row-reverse;
  
  height: 32px;
  align-items: center;
  padding-left: 6px;
  border: 1px solid #999;
  border-radius: 6px;
}

.positionSelector .positionValue {
  font-size: 18px;
  margin-top: 2px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeSelector .positionContainer .editPositionButton {
  display: flex;
}

.postContent {
}

.postContent .contentTypeContainer {
}

.postContent .contentEditor {
}

.contentEditor .contentHorizontal {
  display: flex;
}

.contentHorizontal .addMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.addMediaContainer .addMediaButton {
  display: flex;
  cursor: pointer;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput + label {
  cursor: pointer;
}

.contentHorizontal .commentContainer {
  flex-grow: 1;
}

.contentTypeSelectors {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}

.contentTypeSelectors .contentTypeSelector {
  margin-right: 6px;
  border: 1px solid #888888;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  flex-grow: 1;
}

.contentTypeSelectors .typeSelected {
  background-color: #888888;
}

.contentTypeSelectors .contentTypeSelector > div {
  display: contents;
}

.contentEditor .contentControls {
  display: flex;
  justify-content: flex-end;
}
