@import '../../components/variables.css';

.root {
  
  max-width: 1000px;
  margin: auto;
  padding-bottom: 24px;
  padding-top: 24px;
  background-color: white;

  .error {
    background: #dc4e41;
    color: white;
    max-width: 500px;
    text-align: center;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
  }

}

.container {
  
  margin: 0 auto;
  max-width: $max-content-width;
  
  p {
    max-width: 500px;
    margin: auto;
  }

}

.description {
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
}

.renewForm {
  width: 100%;
  text-align: center;
}

.extLogin {
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.extLogin .fbLogin {
  width: 100%;
  background: #3b5999;
}

.extLogin .fbLogin a {
  color: white;
  text-decoration: none;
  display: flex;
  width: 100%;
}

.extLogin .fbLogin a .fbButton img {
  margin: 6px;
  width: 30px;
  height: 30px;
}

.extLogin .fbLogin a .fbText {
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
}

.extLogin .gLogin {
  width: calc(100% - 2px);
  border: 1px solid #DC4E41;
  margin-top: 6px;
}

.extLogin .gLogin a { 
  color: white;
  text-decoration: none;
  display: flex;
  width: 100%;
}

.extLogin .gLogin a .gButton img {
  margin: 6px;
  width: 30px;
  height: 30px;
}

.extLogin .gLogin a .gText {
  color: #DC4E41;
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
}

.pwdLogin {
  
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  border: 1px solid #e0e0e0;
}

.pwdLogin .formTitle {
  width: 96%;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.pwdLogin .formItem {
  width: 96%;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  display: flex;
  align-content: center;
}

.pwdLogin .formItem .formLabel {
  padding-right: 6px;  
}

.pwdLogin .formItem .formInput {
  width: 100%;
  position: relative;
}

.pwdLogin .formItem .formInput a { 
  text-decoration: none;
  color: black;
}

.pwdLogin .formSubmit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 8px;
    display: flex;
} 

.pwdLogin .formSubmit .recoveryLink {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.pwdLogin .formSubmit .submitButton {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  padding-left: 6px;
  padding-right: 6px;
}    
